<template>
  <div>
    <b-container >
      <h1 class="my-4">zento.mx</h1>
      
      <b-card :header="'Registros'" v-if="password === 'zento.mx'">        
        <b-table :items="registers" />       
      </b-card>      
      <b-card v-else>
          <b-row>
            <b-col class="d-flex justify-content-center">
              <div role="group">

                <label for="input-live">password:</label>
                <b-input v-model="password" type="password"></b-input>
              </div>
              
            </b-col>
          </b-row>
        </b-card>
    </b-container>

  </div>
</template>

<script>
  import { db } from '../db'
  export default {
    data() {
      return {
        registers: [ ],
        password: ''
      }
    },
    firestore: {
      todos: db.collection('users'),
    },
    mounted () {
      db.collection('users')
      .get()
      .then(querySnapshot => {
        const documents = querySnapshot.docs.map(doc => doc.data())
        this.registers = documents
      })
    },
  }
</script>

<style lang="scss" scoped>

</style>