<template>
	<div class="home">
		<menu-zento></menu-zento>
		<carrousel></carrousel>
		<div class="header dark">
			<b-container
				class="b-flex justify-content-center align-items-center text-center"
			>
				<h2>Creamos elementos que complementan tu <b>estilo de vida.</b></h2>
			</b-container>
		</div>
		<div class="header">
			<b-container
				class="b-flex justify-content-center align-items-center text-center"
			>
				<h2>Conoce la colección <u>para tí.</u></h2>
			</b-container>
		</div>
		<products></products>

		<div class="header">
			<b-container	class="b-flex justify-content-center align-items-center extraPaddingBottom text-center">
				
        <a  class="continueBtn"  v-b-modal.quiz>Tomar Quiz</a>
        
        <b-modal id="quiz" size="lg" hide-footer hide-header>
          <survey></survey>
        </b-modal>
			</b-container>
		</div>
		<div class="header dark my-4">
			<b-container
				class="b-flex justify-content-center align-items-center text-center"
			>
				<h2>Conoce al equipo detrás de <b>zento.</b></h2>
			</b-container>
		</div>
		<b-container fluid>
			<team></team>
		</b-container>
      <div class="teamPicArea">
        <img src="../assets/fotoequipo.jpg" alt="">
      </div>
		<footer-zento></footer-zento>

	</div>
</template>

<script>
// @ is an alias to /src
import menuZento from "@/components/menu.vue";
import carrousel from "@/components/carrousel.vue";
import products from "@/components/products.vue";
import team from "@/components/team.vue";
import survey from "@/components/survey.vue"

import footerZento from "@/components/footer.vue";

export default {
	name: "Home",
	components: {
		menuZento,
		carrousel,
		products,
		team,
    footerZento,
    survey,

	},
};
</script>

<style lang="scss">
.header {
	padding: 2rem 1rem;
	background-color: #fff;
	@media (max-width: 576px) {
		padding: 1.5rem 0.5rem;
	}
	h2 {
		font-size: 24px;
		@media (max-width: 576px) {
			font-size: 15px;
		}
	}
}

.dark {
	background-color: #ededed;
}

.continueBtn {
	padding: 0.6rem 4rem;
	color: #0f4468;
	border-radius: 50px;
	border: 3px solid #0f4468;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	@media (max-width: 576px) {
		font-size: 17px;
		padding: 0.6rem 2rem;
	}
	&:hover {
		background: #0f4468;
		color: white;
		text-decoration: none;
	}

	outline: none;
}

.teamPicArea{
  

  img{
    width: 100%;
    height: auto;
  
  }
}
</style>
