<template>
  <div >
    
      <survey />
   
  </div>
</template>

<script>
import survey from '@/components/survey.vue'

  export default {
    components: {     
        survey,

    },
  }
</script>

<style lang="scss" scoped>

</style>