<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      indicators
      background="#ababab"          
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
    

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide >
        <template v-slot:img>
          <div class="bg bg1"></div>
        </template>   
    

        <b-row >
          <b-col sm="12" md="6" lg="8"></b-col>
          <b-col sm="12" md="6" lg="4" id="pulso" class="textInCarrousel" align-self="center" align-h="end">
            <h2>pulso</h2>
            <p>
              Para personas muy activas que buscan un equilibrio entre el trabajo y la <b>actividad física.</b>
            </p>
          </b-col>
        </b-row>   
       
      </b-carousel-slide>

      <b-carousel-slide>
        <template v-slot:img>
          <div class="bg bg2"></div>
        </template>
        <b-row>
          <b-col sm="12" md="6" lg="8"></b-col>
          <b-col sm="12" md="6"  lg="4" id="campo" class="textInCarrousel" align-self="center" align-h="end">
            <h2>campo</h2>
            <p>
              Para todos aquellos que disfrutan del senderismo, el excursionismo y diversas <b>actividades</b> al aire <b>libre.</b>
            </p>
          </b-col>
        </b-row>
      </b-carousel-slide>

      <b-carousel-slide>
        <template v-slot:img>
          <div class="bg bg3"></div>
        </template>
        <b-row>
          <b-col sm="12" md="6" lg="8"></b-col>
          <b-col sm="12" md="6" lg="4" id="lienzo" class="textInCarrousel" align-self="center" align-h="end">
            <h2>lienzo</h2>
            <p>
              Para los <b>creativos</b>, <br>
              freelancers y artistas.
            </p>
          </b-col>
        </b-row>
      </b-carousel-slide>

         
    </b-carousel>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>

<style lang="scss" scoped>
.bg {
  height: 80vh;
  width: 100%;
  background-size: cover ;
  background-position: 30% 50%;
}

.bg1 {
  background-image: url('../assets/zento_pulso.png');
}

.bg2 {
  background-image: url('../assets/zento_campo.png');
}

.bg3 {
  background-image: url('../assets/zento_lienzo.png');
}

#pulso{
  color: white
  h2{
    color: white
  }
}
#campo{
  color: white
  h2{
    color: white
  }
}
#lienzo{
  p{

  color: #155856;
  @media (max-width: 576px) { 
      
  color: #fff;
    }
  }
  h2{
    color: #155856;
    &:after {
      content: " ";
      bottom: -1.5rem;
      left: 0;
      width: 20px;
      height: 4px;
      background: #155856;
      position: absolute;
    }
    @media (max-width: 576px) { 
    color: #fff;
     &:after {
      content: " ";
      bottom: -1.5rem;
      left: 0;
      width: 20px;
      height: 4px;
      background: #fff;
      position: absolute;
    } 
    }
  }
}

.textInCarrousel {
  text-align: left;
  p{
    font-size: 20px;
  }
  h2{
    margin-bottom: 3rem;
    font-size: 30px;
    position: relative;
    font-weight: 700;
    &:after {
      content: " ";
      bottom: -1.5rem;
      left: 0;
      width: 20px;
      height: 4px;
      background: white;
      position: absolute;
    }
  }

}
#carousel-1{
  p {
    @media (max-width: 576px) { 
      font-size: 15px;
    }
  }
  h2{
    @media (max-width: 576px) { 
      font-size: 20px;
    }
  }
 
}
</style>