<template>
  <b-container fluid id="footer">
    <div>
      <img src="../assets/logo_zento_white.svg" width="150" alt="logo zento">

    </div>
    <div>
      Espera nuestro <b>lanzamiento</b>
    </div>
    <div>
      <a href="mailto:hola@zento.mx">hola@zento.mx</a>
    </div>
    <div>
      2020 © 
    </div>
  </b-container>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
#footer{
  background: #575757;
  padding: 4rem 2rem;
  font-size: 27px;
  color: white; 
  @media (max-width: 576px) { 
    font-size: 17px;
    padding: 2rem 1rem;
  }
 
  img{
    fill: white;
    margin-bottom: 1.2rem;
    @media (max-width: 576px) { 
      height: 20px;
      width: auto;
    }
  }

  a{
    color: white;
    text-decoration: none;
  }
}
</style>