<template>
  <div id="menuZento" >
    <b-container fluid class="d-flex justify-content-between align-items-center">

      <img alt="logo" class="logo" src="../assets/logo_zento.svg">
      <div>
        <a href="https://www.facebook.com/109662410737668/" target="_blank">
          <img src="../assets/facebook.svg"  alt="" class="socialIcon mr-3">
        </a>
        <a href="https://instagram.com/zento.mx" target="_blank">
          <img src="../assets/instagram.svg"  alt="" class="socialIcon ">
        </a>
    
      </div>
    </b-container>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
#menuZento {
  padding: 2rem;
  background-color: #EDEDED;
  .socialIcon {
    width: 24px;
  }
  @media (max-width: 576px) { 
    .logo{
      height: 15px;
      width: auto;
    }

    .socialIcon {
      width: 12px;
    }
  
    padding: 1rem;
  }
}
</style>