<template>
  <b-container fluid>
    <b-row>
      <b-col sm="6" lg="4">
        <img class="product" src="../assets/pulso.png" alt="">
      </b-col>
      <b-col sm="6" lg="4">
        <img class="product" src="../assets/lienzo.png" alt="">
      </b-col>
      <b-col sm="6" lg="4">
        <img class="product" src="../assets/campo.png" alt="">
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
.product{
  max-width: 100%;
}
</style>