<template>
	<div>
		<button v-if="registered" class="registerBtn">Gracias 😀</button>
		<button v-else v-b-toggle.collapse-1 class="registerBtn">Regístrame</button>
		<b-collapse id="collapse-1" class="mt-2" v-model="registerFormVisible">
			<b-card>
        <b-form @submit.prevent="registerx()">
          <b-row>
            <b-col sm="12">
              <div class="registrate">Regístrate y sé el primero en enterarte de nuestro <b>lanzamiento oficial.</b></div>
            </b-col>
            <b-col sm="12" lg="6">
              <b-form-group
                id="input-group-2"
                label="Nombre:"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.name"
                  required
                  
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="12" lg="6">
              <b-form-group
                id="input-group-2"
                label="Me interesó:"
                label-for="input-2"
              >
                <b-form-select v-model="form.interestedIn" :options="options"></b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="12" lg="12">
              <b-form-group
                id="input-group-2"
                label="Correo:"
                label-for="input-3"
              >
                <b-form-input
                  id="input-3"
                  v-model="form.email"
                  required
                  type="email"
              
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="12">
              <b-button type="submit">
                Enviar
              </b-button>
            </b-col>
          </b-row>
        </b-form>
			</b-card>
		</b-collapse>
	</div>
</template>

<script>

import { db } from '../db'

export default {
	data() {
		return {
      registered: false,
      registerFormVisible: false ,
      options: ['pulso', 'campo', 'lienzo'],
			form: {
				name: "",
				email: "",
				interestedIn: "",
      },
      todos: []
		};
  },
  firestore: {
    todos: db.collection('users'),
  },
  methods: {
    registerx() {
      db.collection('users')
      .doc()
      .set(this.form)
      .then(() => {
        console.log('user updated!')
        this.registerFormVisible = false
        this.registered = true
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.registerBtn{
  padding: 0.6rem 4rem;
  color: #0F4468;
  border-radius: 50px;
  border: 3px solid #0F4468;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  @media (max-width: 576px) { 
    font-size: 17px;
    padding: 0.6rem 2rem;
  }
  &:hover{
    background: #0f4468;
    color: white;
    text-decoration: none;
  }

  outline: none;
  
}

.extraPaddingBottom{
  padding-bottom: 10rem;
  @media (max-width: 576px) { 
    padding-bottom: 5rem;
  
  }
}
#collapse-1{
  text-align: left;
}

.registrate {
  text-align: center;
  font-size: 1.2rem;
  color: #0F4468;
  margin-bottom: 1.5rem;

}
  label{
  color: #0F4468;

  }
</style>