<template>
	<div class="text-center">
    <b-container v-if="step === 0">

      <div >
        <b-row>
					<b-col class="">
						<h5 class="my-3 text-center">Selecciona tu genero</h5>
					</b-col>
				</b-row>
				<div class="grid-container">
					<div @click="genderSelect('m')">
						Hombre					
					</div>
					<div @click="genderSelect('f')">
						Mujer					
					</div>
				</div>
      </div>
    </b-container>
		<b-container v-if="step > 0" class="">


			<div
        
				v-for="(question, n) in questions.filter((x) => {
					return x.id === step;
				})"
				:key="`question-${n}`"
			>
				<b-row>
					<b-col class="">
						<h5 class="my-3 text-center">{{ question.question }}</h5>
					</b-col>
				</b-row>
				<div class="grid-container">
					<div
						v-for="(option, m) in question.options"
						:key="`option-${m}`"
						@click="chooseOption(option.type, question.multiple, option)"
						:style="{ backgroundImage: `url(${option.img})` }"
					>
						{{ option.name }}
						<span
							v-if="question.multiple && option.selected"
							class="optionSelected"
						>
							<i class="fa fa-check text-success"></i>
						</span>
					</div>
				</div>
				<button v-if="question.multiple" @click="step++" class="continueBtn">
					Continuar
				</button>
			</div>
		</b-container>
		<b-container fluid>
			<div v-if="step > questions.length" class="resultsArea">
        <b-form v-if="!showResults" class="emailForm" @submit.prevent="showResults = !showResults">   
          <b-card>
            <b-form-group label="Introduce tu email para ver tus resulatos">
              <b-input type="email" required></b-input>   
            </b-form-group>
            <b-form-group>
              <b-button type="submit">Continuar</b-button>
            </b-form-group>
          </b-card>
        </b-form>
				<b-row class="results" :class="{'blur' : !showResults}">
					<b-col lg="5" sm="12" class="resultImg" :class="`${winner}-${gender}`"> </b-col>
					<b-col
						lg="7"
						sm="12"
						class="d-flex align-items-center flex-column justify-content-center"
					>
						<b-row>
							<b-col>
								<h3 class="my-5">Resultados</h3>
							</b-col>
						</b-row>
						<b-row>
							<b-col>
								<vue-easy-pie-chart
									:percent="
										Number(
											((campo / (lienzo + campo + pulso)) * 100).toFixed(0)
										)
									"
									:line-width="12"
									:size="100"
									font-size="20px"
									bar-color="#26534C"
									track-color="#eeeeee"
									scale-color="#ddd"
								/>
								<div class="h5">Campo</div>
							</b-col>
							<b-col>
								<vue-easy-pie-chart
									:percent="
										Number(
											((pulso / (lienzo + campo + pulso)) * 100).toFixed(0)
										)
									"
									:line-width="12"
									:size="100"
									font-size="20px"
									bar-color="#183F5C"
									track-color="#eeeeee"
									scale-color="#ddd"
								/>
								<div class="h5">Pulso</div>
							</b-col>
							<b-col>
								<vue-easy-pie-chart
									:percent="
										Number(
											((lienzo / (lienzo + campo + pulso)) * 100).toFixed(0)
										)
									"
									:line-width="12"
									:size="100"
									font-size="20px"
									bar-color="#E4B04C"
									track-color="#eeeeee"
									scale-color="#ddd"
								/>
								<div class="h5">Lienzo</div>
							</b-col>
						</b-row>
						<b-row class="mt-2">
							<b-col>
								<p class="text-left mx-5 ">
									{{ resultx() }}
								</p>
								<div
									class="my-4"
									data-href="https://zento.mx"
									data-layout="button"
									data-size="small"
								>
									<a
										target="_blank"
										href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fzento.mx"
										class="fb-xfbml-parse-ignore continueBtn"
										>Compartir</a
									>
								</div>
								<p class="disclamer">
									Conoce nuestra linea de mobiliario <b>{{ winner }}</b
									>, <br />
									la linea especialmente diseñada para personas como tú
								</p>
								<b-button variant="light" size="sm" @click="resetSurvey()"
									>Repetir</b-button
								>
							</b-col>
						</b-row>
					</b-col>
				</b-row>
			</div>
		</b-container>
	</div>
</template>

<script>
import "vue-easy-pie-chart/dist/vue-easy-pie-chart.css";
import VueEasyPieChart from "vue-easy-pie-chart";

export default {
	components: { VueEasyPieChart },
	data() {
		return {
			step: 0,
			campo: 0,
			lienzo: 0,
			pulso: 0,
      winner: "",
      gender: 'm',
      showResults: false,
			questions: [
				{
					id: 1,
					multiple: false,
					question: "¿Cuál es la palabra que más te describe?",
					options: [
						{
							type: "campo",
							name: "Curioso",
							img: "",
						},
						{
							type: "lienzo",
							name: "Creativo/a",
							img: "",
						},
						{
							type: "pulso",
							name: "Activo/a",
							img: "",
						},
						{
							type: "campo",
							name: "Observador/a",
							img: "",
						},
						{
							type: "lienzo",
							name: "Talentoso/a",
							img: "",
						},
						{
							type: "pulso",
							name: "Perseverante",
							img: "",
						},
					],
				},
				{
					id: 2,
					multiple: true,
					question: "¿Con qué tipo de actividades te relacionas más?",
					options: [
						{
							type: "campo",
							name: "",
							img: "img/survey/1a.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/1g.jpg",
							selected: false,
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/1e.jpg",
							selected: false,
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/1d.jpg",
							selected: false,
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/1b.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/1h.jpg",
							selected: false,
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/1f.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/1i.jpg",
							selected: false,
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/1c.jpg",
							selected: false,
						},
					],
				},
				{
					id: 3,
					multiple: false,
					question: "¿Cuál cuarto es más tu estilo?",
					options: [
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/2a.jpg",
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/2c.jpg",
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/2e.jpg",
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/2b.jpg",
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/2f.jpg",
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/2d.jpg",
						},
					],
				},
				{
					id: 4,
					multiple: false,
					question:
						"¿Si tuvieras todo lo necesario para vivir en alguno de estos lugares, cuál sería?",
					options: [
						{
							type: "pulso",
							name: "",
							img: "/img/survey/3b.jpg",
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/3a.jpg",
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/3c.jpg",
						},
					],
				},
				{
					id: 5,
					multiple: true,
					question: "Elige todos los artículos que usas y tienes en tu casa.",
					options: [
						{
							type: "pulso",
							name: "",
							img: "/img/survey/4a.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/4d.jpg",
							selected: false,
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/4g.jpg",
							selected: false,
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/4h.jpg",
							selected: false,
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/4b.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/4e.jpg",
							selected: false,
						},
						{
							type: "pulso",
							name: "",
							img: "/img/survey/4c.jpg",
							selected: false,
						},
						{
							type: "campo",
							name: "",
							img: "/img/survey/4i.jpg",
							selected: false,
						},
						{
							type: "lienzo",
							name: "",
							img: "/img/survey/4f.jpg",
							selected: false,
						},
					],
				},
				{
					id: 6,
					multiple: false,
					question: "¿Cuál es tu mascota ideal?",
					options: [
						{
							type: "pulso",
							name: "Definitivamente un perro pequeño-mediano",
							img: "",
						},
						{
							type: "campo",
							name: "Perro mediano-grande",
							img: "",
						},
						{
							type: "campo",
							name: "Cualquier mascota que tenga más energía que yo",
							img: "",
						},
						{
							type: "lienzo",
							name: "Una planta",
							img: "",
						},
						{
							type: "lienzo",
							name: "Gato, sin preguntar",
							img: "",
						},
						{
							type: "pulso",
							name: "Un pájaro",
							img: "",
						},
					],
				},
				{
					id: 7,
					multiple: false,

					question:
						"¿Si pudieras tener/hacer cualquiera de estas por el resto de tu vida, qué sería?",
					options: [
						{
							type: "pulso",
							name: "Vivir en una ciudad que no duerme",
							img: "",
						},
						{
							type: "lienzo",
							name:
								"Un taller/workshop en mi casa lleno de todas las cosas que me apasionan",
							img: "",
						},
						{
							type: "campo",
							name: "Viajar por el mundo, explorando cada esquina",
							img: "",
						},
						{
							type: "campo",
							name: "Vivir rodeado de la naturaleza",
							img: "",
						},
						{
							type: "lienzo",
							name:
								"Mi trabajo expuesto en las mejores galerías de arte y museos",
							img: "",
						},
						{
							type: "pulso",
							name: "Yo, mi penthouse y platillos deliciosamente saludables",
							img: "",
						},
					],
				},
			],
			campoDescription:
				"Eres una persona naturalmente curiosa. Te gusta explorar y conocer cosas nuevas. Eres amante de la naturaleza y es muy probable que te gusten actividades como ir de excursión y si te topas con un buen paisaje, ¡mejor! Eres el tipo de persona que le gusta descubrir nuevos trayectos, contemplar la vida y ser asombrado por la belleza de la naturaleza.",
			lienzoDescription:
				"Posiblemente te han dicho en algún punto de tu vida que eres creativo, ¡y no están mal! Eres el tipo de persona que le gusta algún tipo de arte, ya sea diseño, fotografía, pintura, literatura, entre muchas otras. No te molesta quedarte en casa explorando tu imaginación y creatividad. Te gusta expresarte por medio de estas prácticas, eres una persona talentosa y admiras la belleza de la vida.",
			pulsoDescription:
				"Eres una persona que le encanta mantenerse activa, si hay algo que no puedes, ¡es quedarte quieto! Te encanta hacer cosas nuevas, eres una persona social y posiblemente tienes tus propios rituales cuando haces ejercicio o deporte. Eres el tipo de persona que es movida, cuidas tus tiempos y en especial, trabajas en tus buenos hábitos. Si hay algo que te describe, es que eres una persona perseverante y comprometida.",
		};
	},
	methods: {
    genderSelect(sex){
      this.gender = sex;
      this.step++
    },

		resetSurvey() {
			this.campo = 0;
			this.lienzo = 0;
			this.pulso = 0;
			this.step = 0;
      this.winner = "";
      this.showResults = false;
			this.questions[4].options.forEach((element) => {
				element.selected = false;
			});
			this.questions[1].options.forEach((element) => {
				element.selected = false;
			});
		},

		resultx() {
			if (this.pulso > this.lienzo && this.pulso > this.campo) {
				this.winner = "Pulso";
				return this.pulsoDescription;
			} else if (this.campo > this.lienzo && this.campo > this.pulso) {
				this.winner = "Campo";
				return this.campoDescription;
			} else if (this.lienzo > this.campo && this.lienzo > this.pulso) {
				this.winner = "Lienzo";
				return this.lienzoDescription;
			} else {
				this.winner = "Campo";
				return this.pulsoDescription;
			}
		},

		chooseOption(type, multiple, option) {
			if (!multiple) {
				switch (type) {
					case "campo":
						this.campo++;
						this.step++;
						break;
					case "lienzo":
						this.lienzo++;
						this.step++;
						break;
					case "pulso":
						this.pulso++;
						this.step++;
						break;
				}
			} else {
				switch (type) {
					case "campo":
						if (!option.selected) {
							option.selected = true;
							this.campo++;
						} else {
							option.selected = false;
							this.campo--;
						}

						break;
					case "lienzo":
						if (!option.selected) {
							option.selected = true;
							this.lienzo++;
						} else {
							option.selected = false;
							this.lienzo--;
						}

						break;
					case "pulso":
						if (!option.selected) {
							option.selected = true;
							this.pulso++;
						} else {
							option.selected = false;
							this.pulso--;
						}

						break;
				}
			}
		},
	},
};
</script>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
}
.grid-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	$size: 200px;
	div {
		cursor: pointer;
		margin: 0.5rem;
		padding: 2rem;
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 150px;
		background: #efefef;
		font-size: 1rem;
		font-weight: 600;
		background-size: cover;
    background-position: center;
		position: relative;
		&:hover {
			border: 2px solid rgb(4, 4, 41);
		}
	}
}

.optionSelected {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 40px !important;
	height: 40px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border: 4px solid forestgreen;
	border-radius: 50%;
}

.continueBtn {
	padding: 0.3rem 2rem;
	color: #0f4468;
	border-radius: 50px;
	border: 3px solid #0f4468;
	font-size: 1rem;
	margin-bottom: 0rem;
	@media (max-width: 576px) {
		font-size: 17px;
		padding: 0.6rem 2rem;
	}
	&:hover {
		background: #0f4468;
		color: white;
		text-decoration: none;
	}

	outline: none;
}
.resultImg {
	background-size: cover !important;
	background-position: center !important;
	
	@media (max-width: 990px) {
		height: 450px;
	}
}

.Lienzo-m {
	background: url(../assets/lienzo-m.jpg);
}
.Lienzo-f {
	background: url(../assets/lienzo-f.jpg);
}
.Campo-m {
	background: url(../assets/campo-m.jpg);
}
.Campo-f {
	background: url(../assets/campo-f.jpg);
}
.Pulso-m {
	background: url(../assets/pulso-m.jpg);
}
.Pulso-f {
	background: url(../assets/pulso-f.jpg);
}

.disclamer{
  font-size: 13px;
}

.blur {
  filter: blur(0.3rem)
}
.resultsArea{
  position: relative;
}

.results{
  transition: all 1s ease;
}

.emailForm{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}
</style>