<template>

  <b-row >      
    <b-col sm="12">
      <div class="grid-container">
        <div>
          <img src="../assets/z_Pau_sq.jpg" alt="" class="teamPic">
          <h3>Paulina Zambrano</h3>
          <p>Diseñadora Industrial</p>
        </div>
        <div>
          <img src="../assets/z_Gerry_sq.jpg" alt="" class="teamPic">
          <h3>Gerardo Osio</h3>
          <p>Director Creativo</p>
        </div>
        <div>
          <img src="../assets/z_Erick_sq.jpg" alt="" class="teamPic">
          <h3>Erick Custodio</h3>
          <p>Diseñador Industrial</p>
        </div>
        <div>
          <img src="../assets/z_Miguel_sq.jpg" alt="" class="teamPic">
          <h3>Miguel Garza</h3>
          <p>Director General</p>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

.imgTeam {
  width: 100%;
  height: auto;
}

.bgTeam{
  background-image: url('../assets/team.png');
  background-size: cover ;
  background-position: center;
  min-height: 650px;        
  @media (max-width: 576px) {      
    min-height: 350px;        
  }
}

.grid-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
    div{
      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #767676;
      text-align: center;
      padding: 1rem;
      @media (max-width: 576px) { 
        padding: 1rem .25rem;
        width: 50%;
        
      }
    

      p {
        margin-top: -8px;
        font-size: 16px;
        @media (max-width: 576px) { 
          font-size: 12px;
        }
      }
      h3 {
        font-size: 1.4rem;
        @media (max-width: 576px) { 
          font-size: 15px;
        }
      }
    }
      img{
        width: 150px;
        height: auto;
        margin-bottom: 0.8rem;
        border-radius: 50%;
        @media (max-width: 576px) { 
          
          width: 75%;          
        }
      }
}
</style>